<%- include("partials/header.ejs") %>
     
 

<div class="container py-3">
  <div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5" style="overflow: hidden;">
      <h1 class="display-5 fw-bold" data-lang-en="Loving Homes Services">خدمات لوفنغ هومز</h1>
      <p class="col-md-8 fs-4" data-lang-en="We provide a grooming salon and resort, rooms equipped with heating/cooling and television, delivery service, safe pastures, and 24-hour veterinary services.">
        نوفر صالة للحلاقة ومنتجع، غرف مزودة بتدفئة/تبريد وتلفزيون، خدمة توصيل، مراعي آمنة، وخدمات بيطرية 24 ساعة.
      </p>
      <img src="img/service.PNG" alt="" style="float: right; max-width: 50%; height: auto;">
      <a href="index4" class="btn btn-primary btn-lg" type="button" data-lang-en="Discover More">اكتشف المزيد</a>
    </div>
  </div>
  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-bg-dark rounded-3">
        <h2 data-lang-en="Facilities">المرافق</h2>
        <p data-lang-en="Grooming salon and resort, rooms with heating/cooling and television, safe outdoor pastures, delivery service, and 24-hour pet monitoring.">
          صالة للحلاقة ومنتجع، غرف بتدفئة/تبريد وتلفزيون، مراعي خارجية آمنة، خدمة توصيل،
          ومراقبة الحيوانات على مدار الساعة.
        </p>
        
        <a href="about_us" class="btn btn-outline-light" type="button" data-lang-en="Contact us to learn more">اتصل بنا للتعف على المزيد</a><img src="img/dog_ser.PNG" alt="" style="float: right; max-width: 100%; height: auto;">
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3">
        <h2 data-lang-en="Packages">الباقات</h2>
        <p data-lang-en="We offer special, classic and daily packages with customized options for long stays or special requirements. Please contact us to arrange a package that suits your pet.">
          نقدم باقات مميزة، كلاسيكية ويومية مع خيارات مخصصة للإقامات الطويلة أو
          المتطلبات الخاصة. يُرجى الاتصال لترتيب باقة تناسب حيوانك الأليف.
        </p>
        
        <a href="index3" class="btn btn-outline-secondary" type="button" data-lang-en="View Packages">عرض الباقات</a><img src="img/payment.PNG" alt="" style="float: right; max-width: 100%; height: auto;">
      </div>
    </div>
  </div>

</div>










<%- include("partials/footer.ejs") %>