
   <%- include("partials/header.ejs") %>
   
    <div class="container py-3">
        <main>
            <h1 class="text-body-emphasis">ابدأ مع لوفنغ هومز</h1>
            <p class="fs-5 col-md-8">
                اكتشف خدماتنا الشاملة لرعاية الحيوانات الأليفة، من الاستضافة اليومية إلى الرعاية الطبية. نحن نقدم حلولاً مخصصة لتلبية احتياجات حيوانك الأليف.
            </p>
            <div class="mb-5"></div>
            <hr class="col-3 col-md-2 mb-5" />
            <div class="row g-5">
                <div class="col-md-6">
                    <h2 class="text-body-emphasis">خدماتنا الأساسية</h2>
                    <p>
                        استمتع بخدماتنا الأساسية مثل الاستضافة، التمارين اليومية، واللعب. كل شيء مصمم لضمان راحة حيوانك الأليف.
                    </p>
                </div>
                <div class="col-md-6">
                    <h2 class="text-body-emphasis">نصائح العناية</h2>
                    <p>
                        تعلم المزيد عن كيفية العناية بحيوانك الأليف من خلال نصائحنا المتخصصة ودليلنا الشامل.
                    </p>
                </div>
            </div>
        </main>
    </div>

    <%- include("partials/footer.ejs") %>