   <%- include("partials/header.ejs") %>
   
   <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="img/Dog-Care.jpg" alt="" width="25%" height="25%" />
        <h1 class="display-5 fw-bold text-body-emphasis" data-lang-en="Welcome to Loving Homes">مرحباً بكم في لوفنغ هومز</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4" data-lang-en="We provide comprehensive pet care services including hosting, exercises, and medical care. Our goal is to provide a safe and comfortable environment.">
        </div>
    </div>


    <%- include("partials/footer.ejs") %>