
  <%- include("partials/header.ejs") %>
  
    <div class="p-5 mb-4 bg-body-light-emphasis rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold" data-lang-en="Our Special Packages">باقاتنا الخاصة</h1>
            <p class="col-md-8 fs-4" data-lang-en="Choose from our diverse packages to care for your pet, from daily hosting to comprehensive care. Each package is designed to meet your needs and your pet's preferences.">
                اختر من باقاتنا المتنوعة لرعاية حيوانك الأليف، بدءاً من الاستضافة اليومية إلى الرعاية الشاملة. كل باقة مصممة لتلبية احتياجاتك وتفضيلات حيوانك.
            </p>
        </div>
    </div>

        <%- include("partials/footer.ejs") %>