<%- include("partials/header.ejs") %>

<div class="container marketing">
    <div class="container4">
        <div class="row">
            <div class="col-lg-4">
                <svg aria-label="Placeholder" class="bd-placeholder-img rounded-circle svg_r" height="140" preserveAspectRatio="xMidYMid slice" role="img" width="140" xmlns="http://www.w3.org/2000/svg">
                    <image href="img/cut.webp" height="100%" width="100%"></image>
                </svg>
                <h2 class="fw-normal r_to_l" data-lang-ar="صالة للحلاقة ومنتجع" data-lang-en="Grooming Salon and Resort">صالة للحلاقة ومنتجع</h2>
                <p class="r_to_l" data-lang-ar="مرافقنا حديثة ومريحة: صالة للحلاقة ومنتجع لتجديد حيوية حيوانك الأليف." data-lang-en="Our facilities are modern and comfortable: a grooming salon and resort to revitalize your pet.">
                    مرافقنا حديثة ومريحة: صالة للحلاقة ومنتجع لتجديد حيوية حيوانك الأليف.
                </p>
                <p><a class="btn btn-secondary btn_r" href="about_us" data-lang-ar="تواصل معنا" data-lang-en="Contact Us">تواصل معنا</a></p>
            </div>

            <div class="col-lg-4">
                <svg aria-label="Placeholder" class="bd-placeholder-img rounded-circle svg_r" height="140" preserveAspectRatio="xMidYMid slice" role="img" width="140" xmlns="http://www.w3.org/2000/svg">
                    <image href="img/hotel.jpg" height="100%" width="100%"></image>
                </svg>
                <h2 class="fw-normal r_to_l" data-lang-ar="غرف مجهزة بالتدفئة/التبريد" data-lang-en="Rooms Equipped with Heating/Cooling">غرف مجهزة بالتدفئة/التبريد</h2>
                <p class="r_to_l" data-lang-ar="الغرف لدينا مزودة بتدفئة وتبريد تحت الأرض وتلفزيون لتوفير الراحة طوال الإقامة." data-lang-en="Our rooms are equipped with underfloor heating and cooling and television to provide comfort throughout the stay.">
                    الغرف لدينا مزودة بتدفئة وتبريد تحت الأرض وتلفزيون لتوفير الراحة طوال الإقامة.
                </p>
                <p><a class="btn btn-secondary btn_r" href="about_us" data-lang-ar="تواصل معنا" data-lang-en="Contact Us">تواصل معنا</a></p>
            </div>

            <div class="col-lg-4">
                <svg aria-label="Placeholder" class="bd-placeholder-img rounded-circle svg_r" height="140" preserveAspectRatio="xMidYMid slice" role="img" width="140" xmlns="http://www.w3.org/2000/svg">
                    <image href="img/delivery.webp" height="100%" width="100%"></image>
                </svg>
                <h2 class="fw-normal r_to_l" data-lang-ar="خدمة التوصيل والمراعي" data-lang-en="Delivery Service and Pastures">خدمة التوصيل والمراعي</h2>
                <p class="r_to_l" data-lang-ar="نوفر خدمة التوصيل من وإلى المكان ومراعي خارجية آمنة للحيوانات للتمتع بالهواء الطلق." data-lang-en="We provide delivery service from and to the place and safe outdoor pastures for animals to enjoy the fresh air.">
                    نوفر خدمة التوصيل من وإلى المكان ومراعي خارجية آمنة للحيوانات للتمتع بالهواء الطلق.
                </p>
                <p><a class="btn btn-secondary btn_r" href="about_us" data-lang-ar="تواصل معنا" data-lang-en="Contact Us">تواصل معنا</a></p>
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1 r_to_l">
                <span data-lang-ar="مراقبة الحيوانات :" data-lang-en="Animal Monitoring: ">مراقبة الحيوانات :</span>
                <span class="text-body-secondary r_to_l" data-lang-ar="خدمة الكاميرات" data-lang-en="Camera Service">خدمة الكاميرات</span>
            </h2>
            <p class="lead r_to_l" data-lang-ar="نراقب حيواناتك الأليفة على مدار الساعة عبر كاميرات لضمان سلامتها." data-lang-en="We monitor your pets around the clock via cameras to ensure their safety.">
                نراقب حيواناتك الأليفة على مدار الساعة عبر كاميرات لضمان سلامتها.
            </p>
        </div>
        <div class="col-md-5">
            <svg aria-label="Placeholder: 500x500" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" height="500" preserveAspectRatio="xMidYMid slice" role="img" width="500" xmlns="http://www.w3.org/2000/svg">
                <image href="img/care.jpg" width="100%" height="100%"></image>
            </svg>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1 r_to_l">
                <span data-lang-ar="نصائح حول اللعب :" data-lang-en="Playing Tips: ">نصائح حول اللعب :</span>
                <span class="text-body-secondary r_to_l" data-lang-ar="نشاطات وفُرَص" data-lang-en="Activities and Opportunities">نشاطات وفُرَص</span>
            </h2>
            <p class="lead r_to_l" data-lang-ar="يتضمن البرنامج تمشية في الغابات، حظيرة لعب داخلية، ومسار رشاقة لضمان نشاط الحيوان." data-lang-en="The program includes forest walks, an indoor play barn, and an agility course to ensure animal activity.">
                يتضمن البرنامج تمشية في الغابات، حظيرة لعب داخلية، ومسار رشاقة لضمان نشاط الحيوان.
            </p>
        </div>
        <div class="col-md-5 order-md-1">
            <svg aria-label="Placeholder: 500x500" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" height="500" preserveAspectRatio="xMidYMid slice" role="img" width="500" xmlns="http://www.w3.org/2000/svg">
                <image href="img/playing.webp" width="100%" height="100%"></image>
            </svg>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1 r_to_l">
                <span data-lang-ar="حزم مخصصة :" data-lang-en="Custom Packages: ">حزم مخصصة :</span>
                <span class="text-body-secondary r_to_l" data-lang-ar="تفاصيل الحزم" data-lang-en="Package Details">تفاصيل الحزم</span>
            </h2>
            <p class="lead r_to_l" data-lang-ar="يمكن تخصيص الحزم للإقامات الطويلة أو للحيوانات ذات متطلبات خاصة عن طريق التواصل معنا." data-lang-en="Packages can be customized for long stays or for animals with special requirements by contacting us.">
                يمكن تخصيص الحزم للإقامات الطويلة أو للحيوانات ذات متطلبات خاصة عن طريق التواصل معنا.
            </p>
        </div>
        <div class="col-md-5">
            <svg aria-label="Placeholder: 500x500" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" height="500" preserveAspectRatio="xMidYMid slice" role="img" width="500" xmlns="http://www.w3.org/2000/svg">
                <image href="img/pay.jpg" width="100%" height="100%"></image>
            </svg>
        </div>
    </div>

    <hr class="featurette-divider">
</div>

<%- include("partials/footer.ejs") %>