<%- include("partials/header.ejs") %>





        <div class="container marketing"> 

            <div class="container4">
        <div class="row">
         <div class="col-lg-4"> 
        <svg aria-label="Placeholder" class="bd-placeholder-img rounded-circle svg_r" height="140" preserveAspectRatio="xMidYMid slice" role="img" width="140" xmlns="http://www.w3.org/2000/svg">
            <image href="img/cut.webp" height="100%" width="100%"></image></svg>

         <h2 class="fw-normal r_to_l">صالة للحلاقة ومنتجع</h2> 

         <p class="r_to_l">مرافقنا حديثة ومريحة: صالة للحلاقة ومنتجع لتجديد حيوية حيوانك الأليف.</p>
         <p><a class="btn btn-secondary btn_r" href="about_us">المزيد من التفاصيل</a></p> 

        </div>

         <div class="col-lg-4">
         <svg aria-label="Placeholder" class="bd-placeholder-img rounded-circle svg_r" height="140" preserveAspectRatio="xMidYMid slice" role="img" width="140" xmlns="http://www.w3.org/2000/svg">

        <image href="img/hotel.jpg" height="100%" width="100%"></image>

    </svg> 
    <h2 class="fw-normal r_to_l">غرف مجهزة بالتدفئة/التبريد</h2> 

    <p class="r_to_l">الغرف لدينا مزودة بتدفئة وتبريد تحت الأرض وتلفزيون لتوفير الراحة طوال الإقامة.</p>

     <p><a class="btn btn-secondary btn_r" href="about_us">المزيد من التفاصيل</a></p>

     </div>
      <div class="col-lg-4">
        <svg aria-label="Placeholder" class="bd-placeholder-img rounded-circle svg_r" height="140" preserveAspectRatio="xMidYMid slice" role="img" width="140" xmlns="http://www.w3.org/2000/svg">

            <image href="img/delivery.webp"100%" width="100%"></image></svg> 

            <h2 class="fw-normal r_to_l">خدمة التوصيل والمراعي</h2> 

            <p class="r_to_l">نوفر خدمة التوصيل من وإلى المكان ومراعي خارجية آمنة للحيوانات للتمتع بالهواء الطلق.</p>

             <p><a class="btn btn-secondary btn_r" href="about_us">المزيد من التفاصيل</a></p>

             </div>

             </div>
             </div>



         <hr class="featurette-divider">
          <div class="row featurette">
             <div class="col-md-7"> 
                <h2 class="featurette-heading fw-normal lh-1 r_to_l">مراقبة الحيوانات :
                     <span class="text-body-secondary r_to_l">خدمة الكاميرات</span></h2> 
                     <p class="lead r_to_l">نراقب حيواناتك الأليفة على مدار الساعة عبر كاميرات لضمان سلامتها.</p> </div> 
                     <div class="col-md-5"> 
                        <svg aria-label="Placeholder: 500x500" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto " height="500" preserveAspectRatio="xMidYMid slice" role="img" width="500" xmlns="http://www.w3.org/2000/svg">
            

            <image href="img/care.jpg" width="100%" height="100%" ></image>

            </svg> </div> </div>
             <hr class="featurette-divider">
             <div class="row featurette"> 
                <div class="col-md-7 order-md-2"> 
                <h2 class="featurette-heading fw-normal lh-1 r_to_l">نصائح حول اللعب :
                    <span class="text-body-secondary r_to_l">نشاطات وفُرَص</span></h2>
                 <p class="lead r_to_l">يتضمن البرنامج تمشية في الغابات، حظيرة لعب داخلية، ومسار رشاقة لضمان نشاط الحيوان.</p> 
                </div> <div class="col-md-5 order-md-1">
                 <svg aria-label="Placeholder: 500x500" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" height="500" preserveAspectRatio="xMidYMid slice" role="img" width="500" xmlns="http://www.w3.org/2000/svg">
                
                <image href="img/playing.webp" width="100%" height="100%" ></image>
                
            </svg>
         </div> 
        </div> 
            <hr class="featurette-divider"> 
            <div class="row featurette"> 
                <div class="col-md-7"> 
                <h2 class="featurette-heading fw-normal lh-1 r_to_l">حزم مخصصة :
                    <span class="text-body-secondary r_to_l">تفاصيل الحزم</span></h2> 
                    <p class="lead r_to_l">يمكن تخصيص الحزم للإقامات الطويلة أو للحيوانات ذات متطلبات خاصة عن طريق التواصل معنا.</p> </div> 
                    <div class="col-md-5"> 
                        <svg aria-label="Placeholder: 500x500" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" height="500" preserveAspectRatio="xMidYMid slice" role="img" width="500" xmlns="http://www.w3.org/2000/svg">
                            
                            <image href="img/pay.jpg" width="100%" height="100%" ></image>
                        
                    </svg> </div> </div> <hr class="featurette-divider"> 
                 </div>








<%- include("partials/footer.ejs") %>